<%= form_for(hike) do |f| %>
  <% if hike.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hike.errors.count, "error") %> prohibited this hike from being saved:</h2>

      <ul>
      <% hike.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, class: 'form-label' %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :link, class: 'form-label' %>
    <%= f.text_field :link, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :commute_hours, class: 'form-label' %>
    <%= f.number_field :commute_hours, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :location, class: 'form-label' %>
    <%= f.text_field :location, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :nearest_town, class: 'form-label' %>
    <%= f.text_field :nearest_town, class: 'form-control' %>
  </div>
  
  <div class="field">
    <%= f.label :description, class: 'form-label' %>
    <%= f.text_area :description, rows: 10, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
