<h1>Hikes</h1>

<table class="table table-hover table-striped datatable">
  <thead>
    <tr>
      <th>Title</th>
      <th>Commute hours</th>
      <th>Location</th>
      <th>Nearest town</th>
      <th><span id="actions-column">Actions</span></th>
    </tr>
  </thead>
  <tbody>
    <% @hikes.each do |hike| %>
      <tr>
        <td>
          <%= link_to hike.title, "http://#{hike.link}" %>
        </td>
        <td><%= hike.commute_hours %></td>
        <td><%= hike.location %></td>
        <td><%= hike.nearest_town %></td>
        <td>
          <%= link_to '', hikes_path, class: 'favicon-link fa fa-pencil float-right' %>
          <%= link_to '', hike, method: :delete, data: { confirm: 'Are you sure?' }, class: 'favicon-link fa fa-times float-right' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hike', new_hike_path %>
